/* round for logo and user */
.round {
  height: 40px;
  border-radius: 20px;
}

/* round1 for logo and user */
.round1 {
  height: 35px;
  border-radius: 20px;
}

.border {
  border: 2px solid black;
  border-radius: 20px;
}

a {
  text-decoration: none !important;
}

label {
  cursor: pointer;
}

li:hover {
  background-color: rgb(241, 240, 238);
  cursor: pointer;
  border-radius: 20px;
}

.link:hover {
  background-color: lightgray;
  cursor: pointer;
  border-radius: 20px;
}

.round:hover {
  background: lightgreen;
  cursor: pointer;
  border-radius: 20px;
}

.btn:hover {
  background: lightgreen;
  cursor: pointer;
  border-radius: 20px;
}

label:hover {
  cursor: pointer;
  color: chartreuse;
  border-radius: 20px;
}

h4:hover {
  color: aqua !important;
}

.text:hover {
  cursor: pointer;
  color: greenyellow;
}

@media (max-width: 420px) {
  .display-none {
    display: none;
  }
}
